#alq{
    margin-right: 20px;
}

#colorMenu{
    background-color: #ff0000;
    
}

.jeje{
    
    padding-left: 25vh;
    padding-right: 10px;
}

#search{
    margin-left: 25vh;
}
.j{
    margin-left: 50px;
}

.container{
    margin-top: 10vh;
    background-color: gray;
    padding: 20px;
    background-color:#141414;
    border-radius: 5%;
}
body{
    background-color: black;
    text-align: center;
}

h1{
    color: white;
    margin-top: 50px;
}