#colorMenu{
    background-color: #ff0000;
}

.formu{
    border-radius: 10px;
    border: 0px;
    padding: 30px 40px;
    background: rgba(0, 0, 0, 0);
    margin-top: 5vh;
    -webkit-box-shadow: -1px 0px 21px 9px rgba(0,0,0,0.75);
-moz-box-shadow: -1px 0px 21px 9px rgba(0,0,0,0.75);
box-shadow: -1px 0px 21px 9px rgba(0,0,0,0.75);

}

body{
    background: url(../images/teatro.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    text-align: center;
}

.cabeza{
    margin-left: 60vh;
}

form{
    color: white;
}

h1{
    color: white;
}
small{
    color: white;
}
