@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0
}

//Navbar classes
.btn {
  @apply text-white py-2.5 px-5 rounded-md transition duration-500 ease-out;
}

.signin-btn {
  @apply hover:bg-lightPink hover:text-boldBlue border border-lightPink;
}

.signup-btn {
  @apply bg-boldBlue border border-boldBlue  hover:bg-lightPink hover:border-lightPink hover:text-boldBlue
}
